media/
__pycache__/
.env
.venv/

# echo "# n8n-youtube-agent" >> README.md
# git init
# git add README.md
# git commit -m "first commit"
# git branch -M main
# git remote add origin git@github.com:shubhampandit1836-glitch/n8n-youtube-agent.git
# git push -u origin main